<div class="container__items">
    <div class="container__items-img">
        <img src="../../../../assets/img/create-history.png">
    </div>
    <div class="container__items-text">
        <h3>Crea una nueva historia</h3>
        <p>Adoptar puede ser una de las experiencias más grandiosas de tu vida, donde compartirás bellos momentos con estos amiguitos fieles, tiernos y llenos de amor para regalar.</p>
    </div>
</div>
<div class="container__button">
    <button (click)="next()" class="container__button-next">Siguiente</button>
</div>
