@import "../../../../styles";

:host {
  .container__items {
    margin: 15rem 2.4rem 7.7rem 2.4rem;

    .container__items-img {
      display: flex;
      justify-content: center;

      img {
        width: 30.2rem;
        height: 30.2rem;
      }
    }

    .container__items-text {
      text-align: center;

      h3 {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      p {
        color: $grey;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }

}
