:host{
    .container__pets-item {
      display: flex;
      flex-wrap: wrap;
  
      img {
        margin-right: 0.8rem;
        width: 15.5rem;
        height: 25rem;
      }
  
      .container__pets-img:nth-child(even) {
        margin-top: 2.4rem;
      }
    }
  }