<div class="container__profile-title">
    <h1>Perfil</h1>
</div>
<div class="container__profile-account">
    <div class="container__account-img">
        <img src="../../../../assets/img/menu/photo.png">
        <p>Juan Méndez</p>
        <button>Editar Cuenta</button>
    </div>
</div>
<div class="container__profile-form">
    <form>
        <label for="name">Nombre</label>
        <input type="text" #name value="Juan">
        <label for="lastName">Apellido</label>
        <input type="text" #lastName value="Méndez">
        <label for="email">Correo</label>
        <input type="text" #email value="Juan.mendez@gmail.com">
        <div class="container__button">
            <button class="container__button-next">Guardar</button>
        </div>
    </form>

</div>

<div style="height:5px;"></div>