<div class="container__header-title">
    <h1>Adopta una adorable mascota</h1>
</div>

<div class="container__filter-pet">
    <h2>Categorías de mascotas</h2>
    <div class="container__filter-select">
        <div class="filter__pets">
            <img src="../../../../assets/img/menu/dog.png">
            <h1>Perros</h1>
        </div>
        <div class="filter__pets">
            <img src="../../../../assets/img/menu/cat.png">
            <h1>Gatos</h1>
        </div>
    </div>
</div>








<div class="container__menu-bottom">
    <app-menu></app-menu>
</div>


<router-outlet></router-outlet>
