:host {
  virtual-scroller {
    height: 100%;
    .container__pets-item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img {
        margin-top: 2rem;
        margin-right: .8rem;
        width: 28rem;
        height: 30rem;
        border-radius: 2.0rem;
      }
    }


  }
}
