@import "../../../../styles.scss";

:host {
  .container__items-margin {
    margin: 0rem 2.4rem 0rem 2.4rem;

    .container__text {
      margin-top: 4.8rem;
    }

    .container__chats {
      margin-top: 2.4rem;

      .container__chats-message {
        background-color: $white;
        border-radius: 0.8rem;
        width: 100%;
        height: 8rem;
        display: flex;

        .container__message-img {
          margin: 0.8rem;

          img {
            width: 6.4rem;
            height: 6.4rem;
            border: 3px solid $green;
            border-radius: 50%;
            box-sizing: border-box;
            filter: drop-shadow(0px 31px 246px rgba(0, 0, 0, 0.09)), drop-shadow(0px 20.0926px 144.069px rgba(0, 0, 0, 0.0683333)), drop-shadow(0px 11.9407px 78.3556px rgba(0, 0, 0, 0.0546667)), drop-shadow(0px 6.2px 39.975px rgba(0, 0, 0, 0.045)), drop-shadow(0px 2.52593px 20.0444px rgba(0, 0, 0, 0.0353333)), drop-shadow(0px 0.574074px 9.68056px rgba(0, 0, 0, 0.0216667));

          }
        }

        .container__message-text {
          margin: 0.9rem 0rem 0.9rem 0.9rem;
          width: 20.7rem;
          height: 3.8rem;

          .container__titles-name {
            display: flex;
            justify-content: space-between;

            h1 {
              font-weight: 1000;
              font-size: 1.6rem;
              line-height: 2.4rem;
            }

            p {
              font-size: 1.2rem;
            }

          }

          p {
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.9rem;
            letter-spacing: 0.005em;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

          }
        }

        .container__next-message {
          display: flex;
          button {
            background-color: white;
            border: none;
            border-radius: 0.8rem;
          }
        }
      }
    }
  }

}
