@import "../../../../styles.scss";

:host {
  .container__background-color {
    background-color: $white;
    height: 7.2rem;
    .container__buttons {
      display: flex;
      justify-content: space-around;
      .container__button-icon {
        .not-selected {
          border: none;
          background-color: $white;
          padding: 2.4rem 0.8rem;
          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }

        .selected {
          display: flex;
          margin: 1.6rem 0.8rem;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: $green;
          width: 10.2rem;
          height: 4rem;
          background: #0E172C;
          border-radius: 8rem;
          font-size: 1.4rem;
          letter-spacing: 0.005em;
          border: none;
          img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
          }
        }
      }
    }

  }
}
