<div class="container__items">
    <div class="container__items-img">
        <img src="../../../../assets/img/find-friend.png">
    </div>
    <div class="container__items-text">
        <h3>Encuentra a tú amigo fiel</h3>
        <p>Cuando adoptas a una mascota, cosas maravillosas suceden en tu vida. Si estás pensando en tener un nuevo
            integrante en tu familia; ¡estás en el lugar correcto!</p>
    </div>
</div>
<div class="container__button">
    <button (click)="next()" class="container__button-next">Siguiente</button>
</div>