<div class="container__items-margin">
    <div class="container__text">
        <h1>Mensajes</h1>
    </div>
    <div class="container__chats">
        <div class="container__chats-message">
            <div class="container__message-img">
                <img src="../../../../assets/img/menu/photo.png">
            </div>
            <div class="container__message-text">
                <div class="container__titles-name">
                    <h1>Juan Méndez</h1>
                    <p>4:36 PM</p>
                </div>
                <p>¡Hola! claro, podemos acordar un lugar y hora para que conozcas...</p>
            </div>
            <div class="container__next-message">
                <button><img src="../../../../assets/img/menu/icon.png"></button>
            </div>
        </div>
    </div>
</div>