// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

///COLORS///

$black:#0E172C;
$white:#FFFFFE;
$primary: #FEC7D7;
$secondary: #A786DF;
$tertiary:#D9D4E7;
$green:#85D1CE;
$blue:#91C1D7;
$grey:#535353;



//FONTS///
@font-face {
  font-family: Nunito;
  src: url(/assets/fonts/Nunito-ExtraBold.ttf) format("opentype");
}

///CLEAR///
html,
body {
  height: 100%;
  width: 100%;
  background-color: $primary;
  font-weight: 400;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container__button-next {
    width: 32.7rem;
    height: 4.8rem;
    color: $white;
    background: $black;
    border-radius: 9.8rem;
    border: none;
    font-size: 1.4rem;
  }

}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@media only screen and (min-width: 410px) {

  html,
  body {
    font-size: 11.4px;
  }
}

@media only screen and (min-width: 320px) {

  html,
  body {
    font-size: 8.5px;
  }
}

@media only screen and (min-width: 280px) {

  html,
  body {
    font-size: 11.4px;
  }
}

@media only screen and (min-width: 360px) {

  html,
  body {
    overflow: hidden;
    font-size: 9.9px;
  }
}

@media only screen and (min-width: 411px) {

  html,
  body {
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) {

  html,
  body {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {

  html,
  body {
    font-size: 28px;
  }
}
